.toTopButton {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  right: 40px;
  z-index: 98;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: solid 4px;
  background-color: rgba(70,70,70,0.6);
  color: white;
  transition: opacity 400ms;
}
.toTopButton:hover {
  color: #cfcfcf
}
.toTopButton:focus {
  outline: none;
}
