#modal-content {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (max-width: 600px){
  #modal-content {
    flex-direction: column;
  }

  #modal-info {
    width: 90%
  }
}

#modal-info{
  flex: 0 0 40%;
  background-color: var(--bg-dark);
  padding: 20px;
  box-sizing: border-box;
}